Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@mgrobe657 
ISTE-240-Group-5
/
UNIX-Guide-For-All
Public
0
2
0
Code
Issues
59
Pull requests
1
Actions
Projects
Wiki
Security
Insights
UNIX-Guide-For-All/assets/css/stylesheet.css
@zoryisnotreal
zoryisnotreal Small Alters to stylesheet
Latest commit 8ae88a9 1 hour ago
 History
 3 contributors
@zoryisnotreal@JasonA19@mgrobe657
533 lines (419 sloc)  7.67 KB
   
/** CSS Rules for all pages **/

/**
Class Name Rules:
header = header
subheader = subheader
command titles/sub-subheader = subber
Hex Codes & Needs:
header: color: rgba(255, 128, 8, 0.78);
subheader: #DAA20F;
subber: #585858;
For Nav:
background-color of top nav: #646363;
Color of top nav (font): white;
color of top nav (hover): #3B3B3B;
Hover of top nav AND color of side nav: #FFC637;
Hover of side nav: #E3A303;
color of side nav(and hover): #3B3B3B;
For body:
color: black;
For search bar: 
	background: rgba(230, 228, 228, 0.54);
	border-radius: 10px;
Buttons: 
	previous and Next: #4C4B7A;
	
	reminder boxes: 
		background: rgba(255, 198, 55, 0.26);
		border-radius: 19px;
		
	terminal examples:
		background: #363636;
		border-radius: 5px;
		font (for server): 
			font-family: Andale Mono;
			font-style: normal;
			font-weight: normal;
			font-size: 10px;
			line-height: 11px;
			color: #00FF85;
		font (for user input): 
			font-family: Andale Mono;
			font-style: normal;
			font-weight: normal;
			font-size: 10px;
			line-height: 11px;
			color: #FFFFFF;
**/		

/**For quizzes: **/
.qdiv{
	width: 594px;
	height: 324px;
	left: 161px;
	top: 200px;
  text-align: center;
	background: linear-gradient(99.99deg, rgba(13, 11, 140, 0.25) -2.63%, rgba(219, 0, 255, 0.25) 105.87%);
	border-radius: 17px;
}

.qDivFont{
  text-decoration: none;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 70px;
  border-radius: 10px;
	color: #3B3B3B;
}

.question:hover{
	background-color:rgba(53, 57, 91, 0.4);
	opacity: 0.4;	
}
	
.question a:hover{
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 70px;
	color: white;
}

.Quizcontent{
margin-top: 200px;
width: 50%;
margin-left: auto;
margin-right: auto;
}





/** CSS Rules for all pages **/

body {
font-family: "Helvetica Neue", Verdana, SansSerif;
}

.logo {
	padding: 5px;
}

.pageHeader, .topnav{
	z-index: 2;
}
.pageHeader {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  grid-area: nav
}

/* Style the links inside the navigation bar */
.topnav .link  {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FFC637;
  color: #3B3B3B;
}

.hamburger:hover {
  background-color: #FFC637;
  color: #3B3B3B;
}

.link.active {
  background-color: #DAA20F;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFC637;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sideNavBack{
width: 250px;
height: 30px;
}

.sideNavBack:hover{
background-color: #E3A303;
}

.sidenav a {
  padding: 10px 10px 10px 40px;
  text-decoration: none;
  font-size: 25px;
  color: #3C3C3C;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #E3A303;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.search{
	float:right;
	margin:7px;
}

.search form {
margin-top: 5px;
}
		
.searchButton{
	color: #f2f2f2;
	float: right;
	padding: 5px 10px;
	margin-right: 16px;
	font-size: 12px;
	border: none;
	cursor: pointer;
}

.search input[type=text]{
	width:300px;
	height:25px;
	border-radius:25px;
	border: none;
}

.pagefooter {
    bottom: 10px;
    width: 100%;
	color: black;
}

.whitebanner {
	background-color: white;
}

.bottomnav a  {
  float: left;
  color: black;
}

.bottomnav a:hover  {
  color: orange;
}

.copyright {
	display: inline;
	float: right;
    margin-left: 50px;
}

.bottomnav a, .copyright {
	text-align: center;
  	padding: 20px 16px;
  	text-decoration: none;
  	font-size: 17px;
  	
}

.subsubheader{
font-family: Helvetica Neue;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
color: #585858;
}

.subsub{
font-weight: bold;
font-size: 16px;
}

.header{
font-size: 36px;
line-height: 43px;
color: rgba(255, 128, 8, 0.78);
font-weight: normal;
}

.subheader{
font-size: 24px;
line-height: 29px;
color: #DAA20F;
font-weight: normal;
margin-top: 50px;
}

.text{
font-family: Helvetica Neue;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
letter-spacing: 0.04em;
color: #000000;
}

.content{
margin-top: 100px;
margin-left: 88px;
}

.reminder {
width: 165px;
height: 131px;
background-color: rgba(255, 198, 55, 0.26);
border-radius: 19px;
padding: 10px;
}

.reminderHeader{
font-weight: bold;
}

.reminderText{
font-family: Helvetica Neue;
font-style: normal;
font-size: 10px;
line-height: 12px;
color: #000000;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.topnav a.icon {
  color: #FFFFFF;
}

.terminals { 
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background: #363636;
border-radius: 5px;
width: 271px;
height: 232px;
}

.term { 
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 5px;
width: 271px;
height: 232px;
}

.terminals p {
color: white;
font-family: 'Andale Mono';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 11px;
padding: 10px;
}


/** CSS Rules for landing page **/

#landingPage{
background-image: linear-gradient(110.27deg, rgba(255, 128, 8, 0.78) 10.56%, #FFC837 66.09%);
background-repeat: no-repeat;
height: 100vh;
}


.landingPageMargins{
  display: grid; 
  margin-top: 210px;
  margin-right: 10%;
  margin-left: 20%;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 13px 45px; 
  grid-template-areas: 
    "head term"
    "sub term"
    "button term"
    "statement statement"; 
}

.quasarHeading { 
grid-area: head; 
font-family: "Futurist Fixed-width";
font-size: 50px;
color: #FFFFFF;
left: -23.97px;
top: 70px;
font-weight: normal;

}

.landingPageSubHeading { 
grid-area: sub;
font-family: "Helvetica Neue";
font-style: normal;
font-weight: 200;
font-size: 24px;
color: #FFFFFF;
}

.learnmoreButton { 
grid-area: button;
background: #963539;
border-radius: 1004px;
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
/* identical to box height */
letter-spacing: 0.02em;
text-transform: uppercase;
color: #FFFFFF;
padding: 10px;
text-align: center;
text-decoration: none;
}

.learnmoreButton:hover { 
background-color: #65171A;
}

.missionStatement { 
grid-area: statement;
font-family: Helvetica;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 18px; 
margin-top: 20px;
}

.terminalLandingPage { 
grid-area: term;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background: #363636;
border-radius: 5px;
width: 271px;
height: 232px;
}

.terminalLandingPage span, .terminalLandingPage p {
font-family: 'Andale Mono';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 11px;
padding: 10px;
}

/* DEMO-SPECIFIC STYLES */
#terminaltext {
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}



/** Getting Started Rules **/

#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #4C4B7A;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;

}

 
 
/* Media queries */



























© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete