/** CSS Rules for all pages **/

body {
margin: auto 88pt 236pt 88pt;
font-family: "Helvetica Neue", Verdana, SansSerif;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.02em;
color: #000000;
}

h1{
font-size: 36px;
line-height: 43px;
color: rgba(255, 128, 8, 0.78);
}

h2{
font-size: 24px;
line-height: 29px;
color: #DAA20F;
}

/** CSS Rules for landing page **/

#landingPage{
background: linear-gradient(110.27deg, rgba(255, 128, 8, 0.78) 10.56%, #FFC837 66.09%);

}
#quasarHeading{
font-family: Futurist Fixed-width;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 62px;
color: #FFFFFF;
}

#landingPageMargins{
margin-top: 210pt;
position: relative;
display: flex;
/** column-gap: 20px; **/
}

#landingPageSubHeading {
font-family: Helvetica Neue;
font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}

#landingPageIntro {
float: left;
margin: 50px;
}

#learnmoreButton < a {
font-family: Helvetica;
font-style: normal;
font-weight: normal;
color: #FFFFFF;
}

#learnmoreButton {
width: 100%;
margin: auto auto auto auto;
height: 29px;
left: 129px;
top: 400px;
background: #963539;
border-radius: 1004px;
}

#missionStatement{
font-family: Helvetica;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 18px;
}





